UM MSBA - BGEN 632

# Week 2 Instructor-led Lab

In this assignment you will create basic code showcasing the concepts you learned about in the tutorial. 

**Create Code cells below this Markdown cell to complete the assignment. Write and run your code. To get full points, your submitted notebook must include saved output in addition to written code.** 

For this assignment, you are not required to create any Markdown cells but you are encouraged to do so to improve the aesthetics and organization of your lab submission. 

As stated in the syllabus, you <ins>must</ins> include information about your use of online resources to complete assignments, including chatbots like ChatGPT. You can include reference information within your notebooks and/or within separate files pushed to your repo on GitHub. Failure to disclose the use of online resources is a violation of course policy.

## Assigning Values

For this portion of the assignment, you will create variables in your notebook. You will assign a value to each variable. Please perform the following tasks and create each variable by assigning the following values:

* my_int assign it a number between 1 and 20, inclusive.
* long_a assign it the number 6,323,527,192.
* float_pi assign it the number 3.14159
* my_double assign it a fractional number with 13 decimals.
* decimal_a assign it a fractional number with 20 decimals.
* big_griz assign it the value G (uppercase).
* my_hello assign it a greeting to the entire class.
* my_goodbye assign it a farewell to your class.

## Single Line Comments

At the end of each variable, on the same line, place a single-line comment with a short description of each variable. For example, it would look like this:

```
new_double = 38.936921934     # A double with 9 decimal places
```

## Print Output

Now that you have assigned values to your variables, let's print them. Output each variable individually.

## Type Conversion

The last task you have for this lab involves type conversion. Create new variables with the following types, names, and values. Use an explicit type conversion.

* `int` named my_new_int with a number between 1 and 20, inclusive.
* `float` named float_b with value 3.14159.
  
Output both variables. 

---

## Course Information
Course Name: BGEN 632
Graduate Program: MBA

## Assignment Name
Week 2 Instructor-led-Lab

## Notebook Author
Mark Lannen

## Submissin Date
3-10-2025

In [4]:
my_int = 9 # assigns the variable my_int the value of the integer 9
my_int

9

In [6]:
long_a = 6323527192 # assigns the variable long_a to the integer 6323527192
long_a

6323527192

In [8]:
float_pi = 3.14159 #assigns the variable float_pi to the float 3.14159
float_pi

3.14159

In [9]:
my_double = 108.4567120984637 # assigns the variable my_double to the float 108.4567120984637
my_double

108.4567120984637

In [11]:
decimal_a = float(54.98084567123645736159) # assigns the variable decimal_a to the float 54.98084567123645736159. But Jupyter Lab only seems to output a float to 14 decimals
decimal_a

54.98084567123646

In [14]:
big_griz = 'G' # assigns the variable big_griz to the string 'G'
big_griz

'G'

In [15]:
my_hello = 'Greetings, fellow Pythoners!' # assigns the variable my_hello to the string 'Greetings, fellow Pythoners!'
my_hello

'Greetings, fellow Pythoners!'

In [16]:
my_goodbye = 'Arrivederci!' # assigns the variable my_goodbye to the string 'Arrivederci!'
my_goodbye

'Arrivederci!'